
.description {
  margin: 0 0 0 40px;
  h1 {
    display: flex;
    font-weight: 700;
    font-size: 40px;
    width: 340px;
    text-shadow: 2px 2px black;
    letter-spacing: 0.1em;
    padding-bottom: 40px;
  }
}



