$dark-main-color: #212529;
$main-color: #666666;
$light-main-color: #e1dede;
$contrast-color: #E4324C;
$box-shadow: 0 8px 6px -6px black;
$strong-box-shadow: 10px 10px 6px -6px black;
$text-shadow: 1px 1px #424e52;
